@import "../../css/yc.less";

.ant-green-link {
  color: @greenColor;
}

.ant-pink-link {
  color: @pinkColor;
}

.market-number {
  color: @greenColor;
  font-size: 18px;
  margin-bottom: 10px;
}

.tips {
  margin-top: 10px;
  font-size: 12px;
}

.template-text {
  color: @primary-color;
}
