@import "../../css/yc.less";

.site-card-wrapper {
  background: #ececec;
  padding: 30px;

  h4 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .ant-list-item-meta-description {
    font-size: 14px;
    margin-bottom: 14px;
    //color:#ececec;
  }

  .cardText {
    display: block;
    font-size: 16px;
  }

  .market_icon {
    align-self: center;
    font-size: 60px;
    margin-left: 10px;
    color: @greenColor;
  }

  .market_icon_btn {
    font-size: 20px;
    color: @pinkColor;

    .btnChoose {
      margin-left: 10px;
      font-size: 16px;
      color: pure;
    }
  }
}

.detail {
  .title {
    margin-bottom: 16px;
    color: @heading-color;
    font-weight: 500;
    font-size: 16px;
  }

  .cardImg {
    height: 100%;
    margin-bottom: 0;
  }
}

.ant-green-link {
  color: @greenColor;
}

.ant-pink-link {
  color: @pinkColor;
}

.market-number {
  color: @greenColor;
  font-size: 18px;
  margin-bottom: 10px;
}

/*复选框*/
.markrt {
  .ant-table-selection {
    width: 80px;
  }

  .ant-table-selection-extra {
    right: 10px;
  }
}

.timeRadio {
  .radioSpan {
    padding: 0;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.camDetail .ant-descriptions-item-label {
  width: 25%;
}

.tableFont .ant-table-cell {
  font-size: 12px;
}

.tableFont .ant-pagination {
  font-size: 12px;
  padding: 6px !important;
}

.step-marginTop {
  margin-top: 20px !important;
}

.word-wrap {
  word-wrap: break-word;
}
