@import '../../css/yc.less';
@import '../../css/common.less';

.dashboard-statistic-card {
  background: #ececec;
  padding: 30px;
}
.since-date{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}