@import "./yc.less";

.ant-green-link {
  color: @greenColor;
}
.ant-pink-link {
  color: @pinkColor;
}
.ant-blue-link {
  color: @blueColor;
}
.cont {
  padding: 16px 0;
  .ant-page-header-heading {
    .ant-page-header-heading-extra {
    }
  }
  .setIcon {
    font-size: 24px;
    color: @greenColor;
    margin-left: 10px;
  }
}
.authCode {
  p {
    margin: 0;
  }
  span {
    color: @greenColor;
    font-size: 16px;
    margin: 0 10px;
  }
}
.cursor {
  cursor: pointer;
}
.searchBtn {
  margin-left: 20px;
}
.pagination {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 16px;
}
.mid{
  display: flex;
  align-items: center;
}
.fr{
  display: flex;
  align-items: flex-end;
}

.backIcon{
  font-size: 24px!important;
  color:@greenColor;
  margin-left: 10px;
}